<table id="idea-table" class="responsive-table idea-table">
  <thead>
  <tr>
    <th class="title">Title</th>
    <th class="body">Body</th>
    <th class="quality">Quality</th>
    <th class='button-col'></th>
    <th class='button-col'></th>
    <th class='button-col'></th>
    <th class='button-col'></th>
  </tr>
  </thead>
  <tbody id="all-ideas">
  <% @ideas.each do |idea| %>
      <tr data-id="<%= idea.id %>">
        <td class="title"><%= idea.title %></td>
        <td class="body"><%= idea.trunc_body %></td>
        <td class="quality"><%= idea.quality_word %></td>
        <td class="button-col">
          <button class="btn-floating btn-large waves-effect waves-light green thumbs_up">
            <i class="material-icons thumb_up">thumb_up</i>
          </button>
        </td>
        <td class="button-col">
          <button class="btn-floating btn-large waves-effect waves-light red thumbs_down">
            <i class="material-icons thumb_down">thumb_down</i>
          </button>
        </td>
        <td class="button-col">
          <a href='/ideas/<%= idea.id %>/edit' class='btn-floating btn-large waves-effect waves-light blue edit'><i class="material-icons thumb_down">mode_edit</i></a></td>
        </td>
        <td class="button-col">
          <button class="btn-floating btn-large waves-effect waves-light black delete">
            <i class="material-icons">delete</i>
          </button>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>